/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background-color: #218838;
    }

#responseMessage {
    margin-top: 20px;
    font-weight: bold;
}

nav {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

    nav a {
        color: #fff;
        margin: 0 10px;
        text-decoration: none;
        font-weight: bold;
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    display: none; /* Caché par défaut */
    opacity: 1; /* Par défaut, le tableau est complètement visible */
    transition: opacity 1s ease-out; /* Ajoute une transition pour le fondu */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

.status-table {
    display: table; /* Affiche le tableau en mode table */
}

.status-ok {
    background-color: green;
    color: white;
}

.status-fail {
    background-color: red;
    color: white;
}

.fade-out {
    opacity: 0; /* Cache progressivement le tableau */
}